<div class="container">
  <div class="row mb-3">
    <div class="col-sm-8 col-sm-offset-2">
        <%@articles.each do |article|%>
            <article class="mb-2">
                <h2> 
                  <%= link_to article.title, article_path(article) %>
                    <%= link_to fa_icon("film"),
                        article_path(article) %>
                </h2>
                <%= article.content %>
            </article>
            <hr>
        <% end %>
    </div>
  </div>
</div>